*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

body {
    line-height: 1;  
    max-height: 100%; 
    min-width: 320px;
    overflow: hidden;
}


a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

[class*=__conteiner]{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 15px;
}

/* -------------------------HEADRE--------------------------------- */
.header__conteiner {
    height: 150px;
    display: flex;
}
.header__menu {
    display: flex;
    right: -255px;
    position: relative;
}

/* -------------------------HEART--------------------------------- */
.header__hearts{
    display: flex;
    flex-direction: row;
    gap: 45px;
    align-items: center;
    position: relative;
}

.header__heart {
    width: 20px;
    height: 20px;
    padding: 22px;
    background-color: red;
    transform: rotate(45deg); 
}

.header__heart::before , .header__heart::after {
    content : '';
    display: block;
    width: 20px;
    height: 20px;
    padding: 22px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}
.header__heart::before {
    top: -25px;
    left: 0;
}
.header__heart::after {
    top: 0;
    left: -25px;
}

/* Animation HEART */
.header-heart1,
.header-heart1::before,
.header-heart1::after{
    content: '';

}
.header-heart2,
.header-heart2::before,
.header-heart2::after{
    content: '';
}
.header-heart3,
.header-heart3::before,
.header-heart3::after{
    content: '';
}
.header-heart4,
.header-heart4::before,
.header-heart4::after{
    content: ''; 
}
.header-heart5,
.header-heart5::before,
.header-heart5::after{
    content: '';
    /* background-color: rgb(107, 107, 107);  */
}

/* -------------------------------BOY and FIELD--------------------------------- */
.main__conteiner {
    height: 400px;
    flex: 1 1 auto;
    position: relative;
    flex-direction: row;
    gap: 220px;
    display: flex;
    align-items: center;
}
.main__boys {
    display: flex;
    z-index: 5;
}
.main__boy-move {
    position: relative;
}
.main__field {
    position: relative;
    width: 500px;
    height: 300px;
    background-color: greenyellow;
}
.main__ball{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: linear-gradient(136deg, #ffd7c4 18.06%, #fa0505 98.16%);
    cursor: grab;
}

.main__gates{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: green;
	left: 80%;
	top: 50%;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}
.main__gates._active{
    box-shadow: inset 0px 0px 10px 5px #333f2d;
}
.boy__move{
position: absolute;
}
.move__boy-first{
    display: block;
}

.move__boy-second{
    display: none;
}

/* ----------------------------------------------------------------- */

/* Animation TEXT -------------------------------------------------------*/

.main__boy-text {
    width: 250px; 
    height: 100px; 
    margin-left: 26px;
    background: #B5DDD4;
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    top: -20px;
    left: 220px;
    font-size: 20px;
    font-weight: bold;
}
.main__boy-text::before {
    content: "";
    width: 0; 
    height: 0;
    position: absolute; 
    right: 100%; 
    top: calc(50% - 12px);
    border-top: 47px solid transparent;
    border-right: 80px solid #B5DDD4;
    border-bottom: 0px solid transparent;
}

/* ------------------------------------------------------------------- */

/* ---------------------------CODE---------------------------------------- */

.footer__conteiner {
    height: 150px;
    display: flex;
}
.footer__menu{
    display: flex;
    right: -40%;
    position: relative;
}
.footer__codes{
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    position: relative;
    text-align: center;
}



.footer__number{
    width: 50px;
    height: 50px;
    font-size: 50px;
    border: 2px solid black; 
}
/* Animation NUMBER */
.footer-number1, .footer-number2, .footer-number3, .footer-number4, .footer-number5{
    background-color: black;
}
/* ---------------------------------------------------------- */
/* -------------------------TO NEX LEVEL--------------------------------- */

.next-level {
    position: absolute;
    width: 400px;
    height: 200px;
    border: 0px solid black;
    text-align: center;
    background: rgb(220, 168, 65);
    border-radius: 20%;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.go__next-level {
    background: linear-gradient(136deg, #a2edf9 18.06%, #0006a7 98.16%);
    border-radius: 40%;
    cursor:pointer;
    padding: 15px 40px;
    margin-top: 70px;
    animation: pushlexel 2s;
}
progress{
    border-radius: 20%;
    text-align: center;
    animation: pushlexel 2s;
}
@keyframes pushlexel {
    0%,99.99% {opacity: 0;}
    100% {opacity: 1;}
}


.push-to-next-level{
    display: block;
    animation: nextlevel 2s;
}

@keyframes nextlevel{
    0% {transform: translate(-50%, -50%);}
    100% {transform: translate(-50%, -50%);}
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
    0% {width: 0; height: 0;}
    100% {width: 400px; height: 200px;}
}


/* ---------------------------------------------------------- */

/* --------------------------NEXT GAME-------------------------------- */

.second__game-block{
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    background-color: black;
    z-index: 4;
    display: block;
    animation: nextgame 10s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.second__game{

}

@keyframes nextgame{
    0%,80% {border-radius: 50%;}
    0% {width: 0px; height: 0px;}
    99% {width: 1800px; height: 1800px;}
    100% {width: 100%; height: 100%;}
}


.safe__block{
    z-index: 5;
    background-color: white;
    border-radius: 5%;
    width: 1000px;
    height: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: safeBlock 10s;
    /* 10s */
}

@keyframes safeBlock {
    0% {width: 0px; height: 0px;}
    100% {width: 1000px; height: 500px;}
}


.boy__second-game {
    animation: boySecondGame 14.5s; 
    /* 14.5s */
}

@keyframes boySecondGame {
    0%, 50% {opacity: 0;}
    100% {opacity: 1;}
}
/* ---------------------------------------------------------- */

/* -------------------------SAFE--------------------------------- */

.main__safe{
    position: absolute;
    margin: 10px 0 0 255px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: mainsafe 10s;
    z-index: 15;
    /* 10s */
}
@keyframes mainsafe {
    0% {left: 0;}
    100% {left: 50%;}
}

/* --------------------------------------- */
.main__safe img{
max-height: 450px;
animation: imgsafe 10s;
/* 10s */

}
@keyframes imgsafe {
    0%,50% {opacity: 0;}
    0% { height: 0px;}
    100% { height: 450px;}
}

.safe-open {
    position: fixed;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background: #fa0505;
    cursor:pointer;
    animation: buttonsafe 10s;
    /* 10s */
    left: 664px;
    top: 222px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    z-index: 15;
}

@keyframes buttonsafe {
    0%,99% {opacity: 0;}
    0%,50%{left: 674px;}
}


.safe__numbers{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 3px;
    left: 789px;
    top: 215px;
    position: absolute;
    background-color: black;
    animation: safeNumbers 10s;
    z-index: 15;
    /* 10s */
}
@keyframes safeNumbers {
    0%,99% {opacity: 0;}
    0%,50%{left: 779px;}
    0%,50%{top: 205px;}
}
.safe__number{
    color: white;
    padding: 12px 17px;
    cursor:pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.display__numbers{
    background: linear-gradient(136deg, #fcd2d2 18.06%, #a70000 98.16%);
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    font-size: 24px;
    font-weight: bold;
    left: 822px;
    top: 169px;
    position: absolute;
    height: 27px;
    animation: displayNumbers 10s;
    /* 10s */
    border-radius: 10%;
    z-index: 15;
    
}
@keyframes displayNumbers {
    0%,99% {opacity: 0;}
    0%,55%{left: 822px;}
    0%,55%{top: 169px;}
}

.display__number{
}
/* ---------------------------------------------------------- */
/* --------------------------WIN LETTER-------------------------------- */

.win__latter {
}

.win__letter-animation {
    display: block;
    width: 252px;
    height: 306px;
    border: 2px solid black;
    position: absolute;
    top: 129px;
    left: 277px;
    border-radius: 20px 20px 20px 100px;
    background: #f5eeaf;
    animation: letterAnime 5s;
    
}

@keyframes letterAnime {
    0% {left:538px};
    100% {left:277px };

}

.letter__text {
    padding: 10px 0 0 5px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.letter__text h3{
text-align: center;
}


.contact__number{
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: black;
}

.my__contacts{
    width: 50px;
    height: 50px;
    z-index: 7;
    position: relative;
    background: #f5eeaf;
    border-radius: 20px;
}
.contact__number {
    display: flex;
    align-items: center;
}

.contacts__inform{
    display: flex;
    gap: 20px;
    padding-left: 10px;
}

.inform-telegram {
    padding: 11px 0 0 106px;
}

/* ---------ANIMATION CONTACTS--------------------------------- */

.animation__telegram{
position: relative;
  text-align: center; 
  padding: 20px;
  border-radius: 50%;
  background: #3D64FF;
  width: 40px;
  height: 40px;
  left: 111px;
  top: -48px;
}

.animation__telegram::before {
    content: '';
    position: absolute;
    border: 2px solid #3D64FF; 
    left: -20px;
    opacity: 0;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
}

@keyframes pulse {
0% {
    transform: scale(0.5);
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    transform: scale(1.2);
    opacity: 0;
}
}

.animation__telegram::after,
.animation__telegram::before {
content: '';
position: absolute;
border: 2px solid #3D64FF;
left: -20px;
opacity: 0;
right: -20px;
top: -20px;
bottom: -20px;
border-radius: 50%;
animation: pulse 2.5s linear infinite;
}

.animation__telegram::after {
animation-delay: 1.25s;
}

@keyframes pulse {
0% {
    transform: scale(0.5);
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    transform: scale(1.2);
    opacity: 0;
}
}
